{% extends '@App/baseView.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/testForWork.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homeView.css') }}">
{% endblock %}
{% block content %}
    <div id="carousel-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">


                <div class="item active">
                    <img src="{{ asset('images/productImages/5108ff8957257d38c746c524df9f478d.jpeg') }}" alt="Chicago"
                    >
                    <div style="background: black; color:darkorange; opacity:0.8" class="carousel-caption">
                        <h3>The new Evil Undead is here</h3>
                        <p>Hello everyone we have amazing news! The new Evil Undead is here with unbelievable design,
                            strenght and durability. If you are keen on riding a bike downhill and love to feel the
                            adrenalin in you veins that is the bike for you</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}