{% extends "@App/baseView.html.twig" %}
{% block content %}
    <a class="btn btn-success" href="{{ path('createProduct') }}" >Create Product</a>
    <a class="btn btn-success" href="{{ path("createCategory") }}">Create Category</a>
    <a class="btn btn-success" href="{{ path("createColor") }}">Create Color</a>
    <a class="btn btn-success" href="{{ path("createSize") }}">Create Size</a>
{% endblock %}