{% extends "@App/baseView.html.twig" %}
{% block title %}
    {{ "Contacts" }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list_contacts.css') }}">
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/list_contacts.js') }}">
    </script>

{% endblock %}
{% block content %}
    <h1>{{ "hello" }}</h1>
{% endblock %}