{% extends "@App/admin/ordersBase.html.twig" %}


{% block tableButtons %}
    <td><a href="{{ path("sendOrder",{order_id:item.id}) }}" class="btn btn-success">SEND</a></td>
    <td><a href="{{ path("refuseOrder",{order_id:item.id}) }}" class="btn btn-danger">Refuse</a></td>
{% endblock %}