{% extends "@App/admin/ordersBase.html.twig" %}


{% block tableButtons %}
    <td><a href="{{ path('confirm_Order',{order_id:item.id}) }}" class="btn btn-success">Confirm</a></td>
    <td><a href="{{ path("refuseOrder",{order_id:item.id}) }}" class="btn btn-danger">Refuse</a></td>
 {% endblock %}